./backend/node_modules
./api-gateway/node_modules
./frontend/node_modules
./frontend/dist
./backend/dist
./api-gateway/dist
./frontend/dist
./backend/dist
./api-gateway/dist
./frontend/dist
./backend/dist
./api-gateway/dist  



backend/node_modules
api-gateway/node_modules
frontend/node_modules
frontend/dist
frontend/.angular/cache
backend/dist
api-gateway/dist
frontend/dist
backend/dist
api-gateway/dist
frontend/dist

