/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
}

.mat-typography {
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}

/* Material overrides */
.mat-drawer-container {
  height: 100vh;
}

.mat-drawer-content {
  overflow-x: hidden;
} 